Word-Text/**
Vortrag/Videos/**
Vortrag/Images/Frames/**
**/.ipynb_checkpoints/**
Corrections/**

# jabref temp
*.bib.sav.tmp
*.bak

# latex output
*.aux
*.auxlock
*.bbl
*.bcf
*.blg
*.log
*.out
*.pdf
*.run.xml
*.synctex.gz
*.toc

# powerpoint
*.pptx

# blender
*.blend
*.blend1
*.blend2